POSTGRES_DB=barbers
POSTGRES_USER=barbers
POSTGRES_PASSWORD=change-me

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=barbers.navonsimon.com,localhost,127.0.0.1

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me

REDIS_URL=redis://valkey:6379/0
